/* Estilos generales */
body {
  background: #989bcc;
  position: relative; }
  @media screen and (min-width: 320px) {
    body {
      padding-bottom: 0; } }
  @media screen and (min-width: 600px) {
    body {
      padding-bottom: 6em;
      min-height: 100vh; } }
  @media screen and (min-width: 1024px) {
    body {
      padding-bottom: 7em;
      min-height: 100vh; } }

header {
  color: black; }
  header .bg-success {
    --bs-bg-opacity: 1;
    background-color: #313a59 !important; }
  header .border-success {
    --bs-border-opacity: 1;
    border-color: #4d53c5 !important; }
  header nav {
    padding: 0px !important; }
    header nav div a .logo {
      height: 50px;
      width: 50px;
      margin-right: 2em;
      filter: drop-shadow(3px 3px 3px black); }
    header nav div a h1 {
      font-size: 1.0em; }
    header nav div div {
      justify-content: end;
      background-color: rgba(49, 58, 89, 0.932) !important;
      z-index: 2; }
      header nav div div ul li {
        background-color: #797eb9;
        padding: 10px;
        margin: 15px;
        border-radius: 25px;
        z-index: 2; }
        header nav div div ul li .nav-link {
          padding: 0em; }

@media screen and (min-width: 1024px) {
  header nav div .collapse ul li:hover {
    background-color: #7074a3;
    box-shadow: 2px 2px 2px;
    transform: scale(0.9); } }

/* Estilos Index Celulares*/
@media screen and (min-width: 320px) {
  /* Index */
  .container-index .cuerpo-informacion {
    margin-left: 0.5em; }
  .container-index main {
    margin: 0.5em; }
    .container-index main h2 {
      filter: drop-shadow(3px 0px 7px black); }
  .container-index div h2 {
    filter: drop-shadow(7px 7px 7px black); }
  .container-index div .cuerpo-parrafo-dos {
    display: none; }
  .container-index .alan-walker-info {
    margin: 0.5em; }
    .container-index .alan-walker-info div {
      display: none; }
    .container-index .alan-walker-info img {
      filter: drop-shadow(7px 7px 7px black);
      width: 100%; }
    .container-index .alan-walker-info .alan-walker-nombre {
      font-weight: bold;
      text-align: center; } }

/* Estilos Index Tablet*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .container-index .alan-walker-info {
    text-align: center; }
    .container-index .alan-walker-info .text-info1 {
      display: inline-block;
      filter: drop-shadow(7px 7px 7px black); }
    .container-index .alan-walker-info img {
      width: 50%; } }

/* Estilos Index Escritorio*/
@media screen and (min-width: 1024px) {
  /* estilos del contenedor */
  /* estilos de los hijos del contendor */
  .container-index {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    grid-template-areas: "main main" "cuerpo-informacion alan-walker-info" "cuerpo-informacion alan-walker-info" "footer footer"; }
    .container-index main {
      grid-area: main; }
    .container-index .cuerpo-informacion {
      grid-area: cuerpo-informacion;
      margin-left: 0.5em; }
      .container-index .cuerpo-informacion h2 {
        filter: drop-shadow(3px 0px 7px black); }
      .container-index .cuerpo-informacion .cuerpo-parrafo-dos {
        display: grid; }
    .container-index .alan-walker-info {
      grid-area: alan-walker-info; } }

/* Estilos Album Celulares*/
@media screen and (min-width: 320px) {
  .container-album main div {
    margin: 0.5em; }
    .container-album main div h2 {
      filter: drop-shadow(3px 0px 7px black); }
  .container-album main .lista-exitos {
    display: flex;
    justify-items: center; }
  .container-album .sencillos {
    margin-bottom: 2em; }
    .container-album .sencillos .sencillos-faded h3 {
      margin: 0.5em;
      padding-top: 1.5em;
      filter: drop-shadow(3px 0px 7px black); }
    .container-album .sencillos .sencillos-faded .faded-1 {
      margin: 0.5em; }
    .container-album .sencillos .sencillos-faded .faded-2 {
      display: none; }
    .container-album .sencillos .sencillos-faded .video-faded {
      padding: 0.5em; }
    .container-album .sencillos .sencillos-alone {
      display: none; }
  .container-album .titulo-carousel {
    margin: 0.8em;
    filter: drop-shadow(3px 0px 7px black); }
  .container-album .titulo-base-2 {
    display: none; }
  .container-album .carousel {
    margin: 0.8em; }
  .container-album .canciones-base2 {
    display: none; } }

/* Estilos Album Escritorio*/
@media screen and (min-width: 1024px) {
  .container-album main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    grid-template-areas: "subtitulo iframe" "subtexto iframe"; }
    .container-album main .album-texto .album-subtitulo {
      grid-area: subtitulo; }
    .container-album main .album-texto p {
      grid-area: subtexto; }
    .container-album main .lista-exitos {
      margin-top: 1.5em;
      grid-area: iframe; }
  .container-album .sencillos {
    margin-top: 2em;
    display: grid;
    gap: 1em; }
    .container-album .sencillos .sencillos-faded {
      margin: 0.8em;
      display: inline-flex;
      gap: 1em; }
      .container-album .sencillos .sencillos-faded .faded-2 {
        display: inline-flex; }
    .container-album .sencillos .sencillos-alone {
      margin: 0.8em;
      display: inline-flex;
      gap: 1em; }
  .container-album .titulo-carousel {
    display: none; }
  .container-album .carousel {
    display: none; }
  .container-album .titulo-base-2 {
    display: inline-block;
    margin: 0.8em;
    filter: drop-shadow(3px 0px 7px black); }
  .container-album .canciones-base2 {
    display: grid;
    justify-items: center;
    grid-template-areas: "diamond titanic tired" "spectre darkside singme"; }
    .container-album .canciones-base2 .base2 iframe:hover {
      transform: scale(0.9); }
    .container-album .canciones-base2 .diamond {
      grid-area: diamond; }
    .container-album .canciones-base2 .titanic {
      grid-area: titanic; }
    .container-album .canciones-base2 .tired {
      grid-area: tired; }
    .container-album .canciones-base2 .spectre {
      grid-area: spectre; }
    .container-album .canciones-base2 .darkside {
      grid-area: darkside; }
    .container-album .canciones-base2 .singme {
      grid-area: singme; } }

/* Estilos Galeria Celulares*/
@media screen and (min-width: 320px) {
  .container-galeria div main {
    margin: 0.8em;
    filter: drop-shadow(3px 0px 7px black); }
  .container-galeria .base-img div {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em; }
    .container-galeria .base-img div img {
      border: solid #313A59; } }

/* Estilos Galeria Tablet*/
@media screen and (min-width: 600px) {
  .container-galeria .base-img {
    display: grid;
    grid-template-areas: "img1 img2"  "img3 img4" "img5 img6" "img7 img8"; }
  .container-galeria div img {
    width: 40vh; }
  .container-galeria .galeria-img-1 {
    grid-area: img1; }
  .container-galeria .galeria-img-2 {
    grid-area: img2; }
  .container-galeria .galeria-img-3 {
    grid-area: img3; }
  .container-galeria .galeria-img-4 {
    grid-area: img4; }
  .container-galeria .galeria-img-5 {
    grid-area: img5; }
  .container-galeria .galeria-img-6 {
    grid-area: img6; }
  .container-galeria .galeria-img-7 {
    grid-area: img7; }
  .container-galeria .galeria-img-8 {
    grid-area: img8; }
  .container-galeria .galeria-img-9 {
    display: none; }
    .container-galeria .galeria-img-9 img {
      display: none; } }

/* Estilos Galeria Escritorio*/
@media screen and (min-width: 1024px) {
  .container-galeria .base-img {
    display: grid;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9"; }
  .container-galeria .galeria-img-1 {
    grid-area: img1; }
  .container-galeria .galeria-img-2 {
    grid-area: img2; }
  .container-galeria .galeria-img-3 {
    grid-area: img3; }
  .container-galeria .galeria-img-4 {
    grid-area: img4; }
  .container-galeria .galeria-img-5 {
    grid-area: img5; }
  .container-galeria .galeria-img-6 {
    grid-area: img6; }
  .container-galeria .galeria-img-7 {
    grid-area: img7; }
  .container-galeria .galeria-img-8 {
    grid-area: img8; }
  .container-galeria .galeria-img-9 {
    grid-area: img9; }
    .container-galeria .galeria-img-9 img {
      display: flex; } }

/* Estilos Contacto Celulares*/
@media screen and (min-width: 320px) {
  .container-contacto main h2 {
    margin: 0.6em;
    filter: drop-shadow(3px 0px 7px black); }
  .container-contacto main p {
    margin: 0.8em; }
  .container-contacto main .info-correo {
    display: none; }
  .container-contacto .formulario-seccion form {
    padding: 10px;
    margin: auto;
    border-radius: 3px;
    width: 310px;
    background-color: #7274a2; }
    .container-contacto .formulario-seccion form div {
      margin: 1em 0em 1em 0em; }
      .container-contacto .formulario-seccion form div label {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: block; }
      .container-contacto .formulario-seccion form div input {
        padding: 6px;
        width: 280px; }
      .container-contacto .formulario-seccion form div .form {
        width: 280px; }
    .container-contacto .formulario-seccion form .mensaje {
      display: block;
      width: 290px;
      height: auto; }
    .container-contacto .formulario-seccion form .container-boton {
      text-align: center; }
      .container-contacto .formulario-seccion form .container-boton .boton1 {
        background-color: #494c74; }
      .container-contacto .formulario-seccion form .container-boton .boton1:hover {
        transform: scale(0.9); } }

/* Estilos Contacto Tablet*/
@media screen and (min-width: 600px) {
  .container-contacto main .info-correo {
    display: block; }
    .container-contacto main .info-correo .info-correo1 {
      font-weight: bold; }
    .container-contacto main .info-correo .icon {
      display: none; } }

/* Estilos Contacto Escritorio*/
@media screen and (min-width: 1024px) {
  .container-contacto {
    display: flex;
    padding: 1em 1em 0em 0em;
    gap: 2em; }
    .container-contacto main .info-correo .container-correo {
      display: flex;
      margin-left: 0.8em;
      gap: 1em; }
      .container-contacto main .info-correo .container-correo .info-correo2 {
        text-align: center; }
      .container-contacto main .info-correo .container-correo .icon {
        display: flex;
        margin-top: auto;
        margin-bottom: auto; } }

/* Estilos Giras Celulares*/
@media screen and (min-width: 320px) {
  .container-giras main {
    margin: 0.6em;
    filter: drop-shadow(3px 0px 7px black); }
  .container-giras .lista .menu-tour .menu-fecha {
    display: none; }
  .container-giras .lista .menu-tour .menu-completo {
    background-color: #7274a2;
    display: block;
    border-radius: 4px;
    border: solid 1.3px;
    margin: 1em 2.5em 1em 2.5em;
    padding: 0.3em;
    text-align: center; }
    .container-giras .lista .menu-tour .menu-completo .fecha-lugar p {
      margin: 0.5em; }
    .container-giras .lista .menu-tour .menu-completo .menu-info {
      display: none; }
    .container-giras .lista .menu-tour .menu-completo .boton-compra {
      background-color: #494c74; } }

/* Estilos Giras Tablet*/
@media screen and (min-width: 600px) {
  .container-giras .lista .menu-tour .menu-fecha {
    background-color: #7274a2;
    display: flex;
    border-radius: 4px;
    border: solid 1.3px;
    margin: 1em 2.5em 1em 2.5em;
    padding: 0.3em;
    gap: 0.5em;
    text-align: center; }
    .container-giras .lista .menu-tour .menu-fecha .boton-compra1 {
      margin-top: 1em; }
      .container-giras .lista .menu-tour .menu-fecha .boton-compra1 button {
        background-color: #494c74; }
    .container-giras .lista .menu-tour .menu-fecha .texto1 {
      filter: drop-shadow(3px 0px 7px black); }
  .container-giras .lista .menu-tour .menu-completo {
    display: none; } }

/* Estilos Giras Escritorio*/
@media screen and (min-width: 1024px) {
  .container-giras .lista .menu-tour {
    background-color: #7274a2;
    display: flex;
    border-radius: 4px;
    border: solid 1.3px;
    margin: 1em 2.5em 1em 2.5em;
    padding: 0.3em;
    gap: 0.5em;
    text-align: center;
    display: inline-block;
    width: 90%; }
    .container-giras .lista .menu-tour .menu-fecha {
      justify-content: space-evenly;
      border-radius: 0;
      border: transparent; }
      .container-giras .lista .menu-tour .menu-fecha .boton-compra1 {
        display: none; }
    .container-giras .lista .menu-tour .menu-completo {
      margin: 2em;
      margin-bottom: 0.5em;
      width: 90%;
      border: transparent;
      display: inline-block;
      display: grid;
      gap: 1.5em;
      grid-template-areas: "fechalugar lugar botoncompra"; }
      .container-giras .lista .menu-tour .menu-completo .fecha-lugar {
        grid-area: fechalugar; }
      .container-giras .lista .menu-tour .menu-completo .menu-info {
        display: inline-block; }
        .container-giras .lista .menu-tour .menu-completo .menu-info iframe {
          grid-area: lugar;
          width: auto;
          height: auto; }
      .container-giras .lista .menu-tour .menu-completo div a .boton-compra {
        margin-top: 98%;
        width: 100%;
        grid-area: botoncompra;
        justify-content: end; }
      .container-giras .lista .menu-tour .menu-completo div a .boton-compra:hover {
        box-shadow: 2px 2px 2px;
        transform: scale(0.9); } }

/* Estilos Generales del Footer*/
footer {
  margin-bottom: auto;
  width: 100%; }
  footer .pie-pagina {
    background-color: #313A59;
    padding: 0.5em;
    color: black; }
    footer .pie-pagina div .pie-pagina-derechos {
      margin-bottom: 0px; }
    footer .pie-pagina div .redes a .img {
      width: 45px;
      height: 40px; }

@media screen and (min-width: 600px) {
  footer {
    position: absolute;
    bottom: 0; } }

@media screen and (min-width: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
    grid-area: footer; }
    footer .pie-pagina {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "pie-pagina-contenedor redes"; }
      footer .pie-pagina .pie-pagina-contenedor {
        grid-area: pie-pagina-contenedor; }
      footer .pie-pagina .redes {
        grid-area: area; } }
