// Estilos Genrales del Menu
body{
    background: #989bcc;
    position: relative;

    @media screen and (min-width:320px){
        padding-bottom: 0;
    }
    @media screen and (min-width:600px){
        padding-bottom: 6em;
        min-height: 100vh;
    }

    @media screen and (min-width:1024px){
        padding-bottom: 7em;
        min-height: 100vh;
    }
}