
//solo dos
@mixin flex-j{
    display: flex;
    justify-content: center;
}

%flex-justity{
    @include flex-j;
}

.flex-j{
    @extend %flex-justity;
}


@mixin flex-a{
    display: flex;
    text-align: center;
}

%flex-align{
    @include flex-a()    
}

.flex-a{
    @extend %flex-align;
}


@mixin inline-f{
    display: inline-flex;
    gap: 1em;
}

%inline-flex{
    @include inline-f()
}

.inline-f{
    @extend %inline-flex
}

