/* Estilos Generales del Footer*/

footer{
    margin-bottom: auto;
    width: 100%;
    .pie-pagina{
        background-color: $color-terciario;  
        padding: 0.5em; 
        color: black;
        div{
            .pie-pagina-derechos{
                margin-bottom: 0px;
            }
        }
        div{
            .redes{
                a{
                    .img{
                        width: 45px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:600px){
    footer{
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width:1024px){
    footer{
        position: absolute;
        bottom: 0;
        grid-area: footer;
        .pie-pagina{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: 1fr;
    
            grid-template-areas:
            "pie-pagina-contenedor redes";
            .pie-pagina-contenedor{
                grid-area: pie-pagina-contenedor;
            }
            .redes{
                grid-area: area;
            }
        
        }
    }
}