@import "../vars/variables";

/* Estilos Album Celulares*/
@media screen and (min-width:320px){
    .container-album{
        main{
            div{
                margin: $margen-texto;
                h2{
                    filter: $sombras;
                }
            }
            .lista-exitos{
                display: flex;
                justify-content: center;
            }
        }
        .sencillos{
            margin-bottom: 2em;
            .sencillos-faded{
                h3{
                    margin: $margen-texto;
                    padding-top: $margen-texto3;
                    filter: $sombras;
                }
                .faded-1{
                    margin: $margen-texto;

                }
                .faded-2{
                    display: none;
                }
                .video-faded{
                    padding: $margen-texto;
                }
            }
            .sencillos-alone{
                display: none;
            }
        } 
        .titulo-carousel{
            margin: $margen-texto2;
            filter: $sombras;

        }
        .titulo-base-2{
            display: none;
        }
        .carousel{
            margin: $margen-texto2;
        }
        .canciones-base2{
            display: none;
        }
    }
}

@media screen and (min-width:600px) and (max-width:1023px){
    .container-album{
        .album{
            .lista-exitos{
                padding-bottom: $margen-texto3;
                iframe{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .sencillos{
            .sencillos-faded{
                display: flex;
                div{
                    padding-bottom: $margen-texto3;
                }
            }
        }
        .carousel{
            display: none;
        }
        .canciones-base2{
            @include grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            margin: 1em;

            grid-template-areas: 
            "diamond titanic"
            "tired spectre"
            "darkside singme";

            .diamond{
                grid-area: diamond;
            }
            .titanic{
                grid-area: titanic;
            }
            .tired{
                grid-area: tired;
            }
            .spectre{
                grid-area: spectre;
            }
            .darkside{
                grid-area: darkside;
            }
            .singme{
                grid-area: singme;
            }
            .base2{
                iframe{
                    width: 260px;
                    height: 130px ;
                }
            }
        }
    }
}

/* Estilos Album Escritorio*/
@media screen and (min-width:1024px){
    .container-album{
        main{
            @include grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: 1fr;

            grid-template-areas:
            "subtitulo iframe"
            "subtexto iframe";
            .album-texto{
                .album-subtitulo{
                    grid-area: subtitulo;
                }
                p{
                    grid-area: subtexto;
                }
            }
            .lista-exitos{
                margin-top: $margen-texto3;
                grid-area: iframe;
            }
        }
        .sencillos{
            margin-top: 2em;
            @include grid;
            .sencillos-faded{
                margin: $margen-texto2;
                display: inline-flex;
                gap: 1em;
                .faded-2{
                    display: inline-flex;
                }
            }
            .sencillos-alone{
                margin: $margen-texto2;
                display: inline-flex;
                gap: 1em;
            }
        }
        .titulo-carousel{
            display: none;
        }
        .carousel{
            display: none;
        }
        .titulo-base-2{
            display: inline-block;
            margin: $margen-texto2;
            filter: $sombras;   
        }

        .canciones-base2{
            display: grid;
            justify-items: center;

            grid-template-areas: 
            "diamond titanic tired"
            "spectre darkside singme";

            .base2{
                iframe:hover{
                    transform: scale(0.9);
                }
            }

            .diamond{
                grid-area: diamond;
            }
            .titanic{
                grid-area: titanic;
            }
            .tired{
                grid-area: tired;
            }
            .spectre{
                grid-area: spectre;
            }
            .darkside{
                grid-area: darkside;
            }
            .singme{
                grid-area: singme;
            }
        }
    }
    
}