@import "../vars/variables";
@import "../vars/mixin";

/* Estilos Giras Celulares*/
@media screen and (min-width:320px){
    .container-giras{
        main{
            margin: $margen-texto;
            filter: $sombras;
        }
        .lista{
            .menu-tour{
                .menu-fecha{
                    display: none;
                }
                .menu-completo{
                    background-color: $color-principal;
                    display: block;
                    @include espacios;
                    padding: 0.3em ;
                    text-align: center;
                    .fecha-lugar{
                        p{
                            margin: $margen-texto;
                        }
                    }
                    .menu-info{
                        display: none;
                    }
                    .boton-compra{
                        background-color: $color-secundario;
                    }
                }
            }
        }
    }
    
}
/* Estilos Giras Tablet*/
@media screen and (min-width:600px){
        .container-giras{
            .lista{
                .menu-tour{
                    .menu-fecha{
                        background-color: $color-principal;
                        display: flex;
                        @include espacios;
                        padding: 0.3em ;
                        gap: 0.5em;
                        text-align: center;
                        .boton-compra1{
                            margin-top: 1em;
                            button{
                                background-color: $color-secundario;
                            }
                        }
                        .texto1{
                            filter: $sombras;
                        }
                    }
                    .menu-completo{
                        display: none;
                    }
                }
            }
        }
}
/* Estilos Giras Escritorio*/
@media screen and (min-width:1024px){
    .container-giras{
        .lista{
            .menu-tour{
                background-color: $color-principal;          
                display: flex;
                @include espacios;
                padding: 0.3em ;
                gap: $margen-texto;                    
                text-align: center;
                display: inline-block;
                width: 90%;

                .menu-fecha{
                    justify-content: space-evenly;
                    border-radius: 0;
                    border: transparent;
                    .boton-compra1{
                        display: none;
                    }
                }
                .menu-completo{
                    margin: 2em;
                    margin-bottom: $margen-texto;
                    width: 90%;
                    border: transparent;
                    display: inline-block;
                    display: grid;
                    gap: $margen-texto3;

                    grid-template-areas: 
                    "fechalugar lugar botoncompra";

                    .fecha-lugar{
                        grid-area: fechalugar;
                    }
                    .menu-info{
                        display: inline-block;
                        iframe{
                            grid-area: lugar;
                            width: auto;
                            height: auto;
                        }
                    }
                    div{
                        a{
                            .boton-compra{
                                margin-top: 98%;
                                width: 100%;
                                grid-area: botoncompra;
                                justify-content: end;
                            }
                            .boton-compra:hover{
                                box-shadow: 2px 2px 2px;
                                transform: scale(0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}