@import "../vars/variables";
@import "../vars/mixin";
@import "../vars/extend";

/* Estilos Index Celulares*/
@media screen and (min-width:320px){
    /* Index */
    .container-index{
        .cuerpo-informacion{
            margin-left: $margen-texto;
        }
        main{
            margin: $margen-texto;
            h2{
                filter: $sombras;
            }
        }
        div{
            h2{
                filter: $sombras;
            }
            .cuerpo-parrafo-dos{
                display: none;
            }
        
        }
        .alan-walker-info{
            margin: $margen-texto;
            div{
                display: none;
            }
            img{
                filter: $sombras;
                width: 100%;
            }
            .alan-walker-nombre{
                font-weight: bold;
                text-align: center;
            }
        }
    }
}
/* Estilos Index Tablet*/
@media screen and (min-width:600px) and(max-width:1023px){
    .container-index{
        .alan-walker-info{
            text-align: center;
            .text-info1{
                display: inline-block;
                filter: $sombras;
            }
            img{
                width: 50%;
            }
        }
    }
}

/* Estilos Index Escritorio*/
@media screen and (min-width:1024px){

    /* estilos del contenedor */
    /* estilos de los hijos del contendor */

.container-index{
        @include grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;

        grid-template-areas: 
            "main main"
            "cuerpo-informacion alan-walker-info"
            "cuerpo-informacion alan-walker-info"
            "footer footer";
        
            main{
                grid-area: main;
            }
            .cuerpo-informacion{
                grid-area: cuerpo-informacion;
                margin-left: $margen-texto;
                h2{
                    filter: $sombras;
                }
                .cuerpo-parrafo-dos{
                    display: grid;
                }
            }
            .alan-walker-info{
                grid-area: alan-walker-info;
            }
    }
}