/* Estilos Index Celulares*/
@media screen and (min-width:320px){
    /* Index */
    .container-index{
        .cuerpo-informacion{
            margin-left: 0.5em;
        }
        main{
            margin: 0.5em;
            h2{
                filter: drop-shadow( 3px 0px 7px black);
            }
        }
        div{
            h2{
                filter: drop-shadow( 7px 7px 7px black);
            }
            .cuerpo-parrafo-dos{
                display: none;
            }
        
        }
        .alan-walker-info{
            margin: 0.5em;
            img{
                filter: drop-shadow( 7px 7px 7px black);
                width: 100%;
            }
            p{
                font-weight: bold;
                text-align: center;
            }
        }
    }
}
/* Estilos Index Tablet*/
@media screen and (max-width:600px){
    
}

/* Estilos Index Escritorio*/
@media screen and (min-width:1024px){

    /* estilos del contenedor */
    /* estilos de los hijos del contendor */

.container-index{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em;

        grid-template-areas: 
            "main main"
            "cuerpo-informacion alan-walker-info"
            "cuerpo-informacion alan-walker-info"
            "footer footer";
        
            main{
                grid-area: main;
            }
            .cuerpo-informacion{
                grid-area: cuerpo-informacion;
                margin-left: 0.5em;
                h2{
                    filter: drop-shadow( 3px 0px 7px black);
                }
                .cuerpo-parrafo-dos{
                    display: grid;
                }
            }
            .alan-walker-info{
                grid-area: alan-walker-info;
            }
    }
}